<div class="container-fluid updateBarbershop__container--size">
  <app-tittle text="Actualizar cita"></app-tittle>
  <app-appointment-form
    [editAppointment]="editAppointment"
  ></app-appointment-form>
</div>
