<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <app-image
      class="floating"
      urlImg="./../assets/imgs/logo.png"
      size="200"
    ></app-image>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      routerLink="/barberia"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/barberia" routerLinkActive="active">
            barberías</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
