<div class="container-fluid updateBarbershop__container--size">
  <app-tittle text="Actualizar barbería"></app-tittle>
  <app-barbershop-form [editBarbershop]="editBarbershop"></app-barbershop-form>
</div>
