<div class="container text-center text-primary">
  <app-loader class="loading" *ngIf="loading"></app-loader>
</div>
<table class="table table-hover">
  <thead class="table-active">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre completo</th>
      <th scope="col">Número de documento</th>
      <th scope="col">Fecha y hora</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appointment of appointments">
      <th scope="row">{{ appointment.id }}</th>
      <td>{{ appointment.nombre_completo }}</td>
      <td>{{ appointment.numero_documento }}</td>
      <td>{{ appointment.fecha_hora | date: "medium" }}</td>
      <td>{{ appointment.telefono }}</td>
      <td colspan="2">
        <app-button
          type="warning"
          size="small"
          icon="fas fa-edit"
          (clickButton)="editAppointment(appointment)"
        >
        </app-button>

        <app-button
          type="danger"
          size="small"
          icon="fas fa-trash"
          (clickButton)="deleteAppointment(appointment.id)"
        >
        </app-button>
      </td>
    </tr>
  </tbody>
</table>
<h4 class="text-center" *ngIf="appointments.length == 0">
  No se han registrado datos, citas: {{ appointments.length }}
</h4>
