<div class="container text-center text-primary">
  <app-loader class="loading" *ngIf="loading"></app-loader>
</div>
<table class="table table-hover">
  <thead class="table-active">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Dirección</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Estado</th>
      <th scope="col">Citas</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let barbershop of barbershops">
      <th scope="row">{{ barbershop.id }}</th>
      <td>{{ barbershop.nombre }}</td>
      <td>{{ barbershop.direccion }}</td>
      <td>{{ barbershop.telefono }}</td>
      <td>{{ barbershop.estado }}</td>
      <td>
        <button
          type="button"
          class="btn btn-info btn-sm"
          [disabled]="barbershop.estado == 'inactivo'"
          [routerLink]="['/citas/', barbershop.id]"
        >
          <i class="fas fa-eye"></i
          ><span class="d-none d-sm-block">Ver citas</span>
        </button>
      </td>
      <td colspan="2">
        <app-button
          type="warning"
          size="small"
          icon="fas fa-edit"
          (clickButton)="editBarbershop(barbershop)"
        >
        </app-button>

        <app-button
          type="danger"
          size="small"
          icon="fas fa-trash"
          (clickButton)="deleteBarbershop(barbershop.id)"
        >
        </app-button>
      </td>
    </tr>
  </tbody>
</table>
<h4 class="text-center" *ngIf="barbershops.length == 0">
  No se han registrado datos, Barberías: {{ barbershops.length }}
</h4>
