<form (ngSubmit)="submitBarbershop()" [formGroup]="formBarbershop">
  <!-- <app-form-group [inputs]="inputs" [form]="formBarbershop"></app-form-group> -->
  <div class="form-group">
    <app-label text="Nombre" marginTop="2"></app-label>
    <input
      appInputValid
      type="text"
      class="form-control"
      placeholder="Ingrese el nombre"
      formControlName="nombre"
    />
  </div>

  <div class="form-group">
    <app-label text="Dirección" marginTop="2"></app-label>
    <input
      appInputValid
      type="text"
      class="form-control"
      placeholder="Ingrese la dirección"
      formControlName="direccion"
    />
  </div>

  <div class="form-group">
    <app-label text="Teléfono" marginTop="2"></app-label>
    <input
      appInputValid
      type="number"
      class="form-control"
      placeholder="Ingrese el teléfono"
      formControlName="telefono"
    />
  </div>

  <div class="form-group">
    <app-label text="Estado" marginTop="2"></app-label>
    <select class="form-select" formControlName="estado">
      <option value="activo">Activo</option>
      <option value="inactivo">Inactivo</option>
    </select>
  </div>

  <div class="form-group text-center">
    <app-button
      [disabled]="this.formBarbershop.invalid"
      type="primary"
      size="normal"
      [text]="this.typeAction == 'create' ? 'Guardar' : 'Actualizar'"
    ></app-button>
  </div>
</form>
