<div class="container">
  <div class="container-fluid row">
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <app-babershop-card></app-babershop-card>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <app-babershop-card-list></app-babershop-card-list>
    </div>
  </div>
</div>
