<div *ngFor="let input of inputs">
  <div class="form-group">
    <app-label [text]="input.label" marginTop="2"></app-label>

    <div *ngIf="input.type != 'select'">
      <app-input
        [type]="input.type"
        [placeholder]="input.placeholder"
        [formControlName]="input.name"
      ></app-input>
    </div>

    <div *ngIf="input.type == 'select'">
      <select
        class="form-select"
        *ngFor="let option of input.options"
        [formControlName]="input.name"
      >
        <option [value]="option.value">{{ option.text }}</option>
      </select>
    </div>
  </div>
</div>
