<div class="container">
  <div class="container-fluid row">
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <app-appointment-card></app-appointment-card>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <app-appointment-card-list></app-appointment-card-list>
    </div>
  </div>
</div>
