<form (ngSubmit)="submitAppointment()" [formGroup]="formAppointment">
  <div class="form-group">
    <app-label text="Nombre completo" marginTop="2"></app-label>
    <input
      appInputValid
      type="text"
      class="form-control"
      placeholder="Ingrese el nombre completo"
      formControlName="nombre_completo"
    />
  </div>

  <div class="form-group">
    <app-label text="Número de documento" marginTop="2"></app-label>
    <input
      appInputValid
      type="number"
      class="form-control"
      placeholder="Ingrese el número de documento"
      formControlName="numero_documento"
    />
  </div>

  <div class="form-group">
    <app-label text="Fecha y hora cita" marginTop="2"></app-label>
    <input
      type="datetime-local"
      class="form-control"
      placeholder="Ingrese la fecha de la cita"
      formControlName="fecha_hora"
    />
  </div>

  <div class="form-group">
    <app-label text="Teléfono" marginTop="2"></app-label>
    <input
      appInputValid
      type="text"
      class="form-control"
      placeholder="Ingrese el teléfono"
      formControlName="telefono"
    />
  </div>

  <div class="form-group text-center">
    <app-button
      [disabled]="this.formAppointment.invalid"
      type="primary"
      size="normal"
      [text]="this.typeAction == 'create' ? 'Guardar' : 'Actualizar'"
    ></app-button>
  </div>
</form>
