/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import "~bootstrap/scss/bootstrap";

.addbarbershop {
  //
  &__card {
    //
    &--size {
      //
      @media (max-width: 950px) {
        margin: 1rem;
        padding: 2rem;
        width: 100%;
      }
      margin: 3rem;
      padding: 2rem;
    }
  }
}

.updateBarbershop__container--size {
  padding: 4rem;
}

appointment-form {
  //
  &__app-button {
    //
    &--margin {
      margin-top: 2rem;
    }
  }
}
